<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <style>
        #imagePreview {
            max-width: 300px;
            max-height: 300px;
            margin-top: 20px;
            display: none;
        }
    </style>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required onchange="previewImage(event)">
        <img id="imagePreview" alt="Image Preview">
        <button type="submit">Predict</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <script>
        function previewImage(event) {
            const image = document.getElementById('imagePreview');
            image.src = URL.createObjectURL(event.target.files[0]);
            image.style.display = 'block';
            image.onload = () => {
                URL.revokeObjectURL(image.src); // Free memory
            }
        }
    </script>
</body>
</html>
